@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", "Poppins", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 15px;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: #49494900;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #5984f1;
}

.places_tabs_cont {
  box-shadow: 0px 2px 0px 0px #e0e0e023;
}
.tabs_divider {
  writing-mode: vertical-lr;
  height: 3rem;
  align-items: center;
  align-self: flex-start;
}
.hotel_divider {
  writing-mode: horizontal-tb;
}

.m_c9ade57f {
  height: 2px !important;
  background: #112211 !important;
}

.plc-pls-Menu-dropdown {
  width: 22rem !important;
}
.m_6c018570,
.m_46b77525 {
  height: 100% !important;
  width: 100% !important;
}
.m_8fb7ebe7 {
  height: 100% !important;
  width: 100% !important;
  min-height: 0rem !important;
  /* padding-top: 1.3rem !important; */
  /* padding-bottom: 1.3rem !important; */
  border-color: rgb(163 163 163 / 1) !important;
  font-family: "Quicksand" !important;
}
.pay_meth_container::-webkit-scrollbar {
  height: 5px !important;
  background-color: #62616100 !important;
}

.pay_meth_container::-webkit-scrollbar-thumb {
  height: 5px !important;
  background-color: #9a9c99 !important;
  border-radius: 5px;
}

.userNav > .active {
  background: rgb(245 245 245 / 1);
}
.info-buttons > .active {
  border-bottom: 4px solid #0075ff;
}

.sidebar-owsadm > .active {
  background-color: #0077ff6c;
  color: #fff;
}

.cllps-prnt-sdbr-cont > .active {
  background-color: #0077ff6c;
  color: #fff;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
}

.scroll-button {
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100%); /* Adjust based on your scroll button size */
  overflow-x: hidden;
}

.category-tab {
  flex-shrink: 0;
  width: 15rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  /* border-bottom: 3px solid transparent; */
  cursor: pointer;
}

.border-b-3 {
  border-bottom-width: 3px;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 90%;
  margin: 1rem;
  gap: 5%;
}

.carousel-item {
  width: 31%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accommodation-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.accommodation-info {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: -50px;
  width: calc(100% - 40px);
}

.carousel-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  background: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 748px) {
  .carousel-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 90%;
    margin: 1rem;
    gap: 5%;
  }
  .carousel-item {
    width: 91%;
    flex-shrink: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
}
.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.plc-pls-Accordion-label {
  font-size: 1.375rem !important;
  color: #000 !important;
  font-weight: 500 !important;
}
.m_4ba554d4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: normal;
}
